@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../views";

/* @plugin "daisyui"; */

@theme {
    --font-display: "Inter", sans-serif;
    --color-base: #f0f7fa;
    --color-primary: #004a75;
    --color-secondary: #0073b1;
    --color-text-secondary: #1f2937;
    --color-text-primary: #ffffff;
    --color-text-light: #003655;
    --color-yellow: #f9a825;
    --color-green: #2e7d32;
}
